#input-panel,
#workflow-panel,
#carrier-panel,
#output-panel {
  background: white;
  padding: 15px;
  border-radius: 6px;
  box-shadow: 0 0 4px rgba(0,0,0,0.1);
}

#output-panel {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  gap: 10px;
  height: 400px;
  padding: 0 20px;
}
